* {
    background-color: #F4F4F4;
    font-family: Raleway;
    color: #C0B283;
}  
/*
* {
    border: 1px solid red !important;
}
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
/*    max-width: 1200px; */
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    margin-bottom: 7px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

h1 {
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 3em;
    font-family: Lato;
}

h2 {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #373737;
}

h3 {
    text-align: center;
    margin-left: 10px;
}

h4 {
    padding-left: 15px;
}

header {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #373737;
}

img {
    margin-left: 10px;
    object-fit: cover;
    height: 250px;
}

svg {
    fill: #C0B283;
    margin: 60px auto 0px auto;
    display: block;
}

p {
    padding-left: 15px;
    line-height: 30px;
}

.footer p {
    background-color: #373737;
}

.footer {
    background-color: #373737;
}

.post-title {
    height: 700px;
}

.print-screen {
    height: 600px;
    margin-top: 40px;
    object-fit: contain;
}

.last-p {
    margin: 50px 0px;
    font-weight: bolder;
    border-bottom: solid 1px #373737;
}

.quote {
    font-style: italic;
}

.space {
    height: 70px;
}